body {
    background-color: #f5e1c8;
    text-align: center;
    padding: 20px;
    justify-content: center;
}

.site-header {
    position: fixed;
    top: 0;
    left: 0;
    font-family: "Philosopher", sans-serif;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    z-index: 10;
    background: #c3002f;
    backdrop-filter: blur(9px);
    color: #ffffff;
}

.nav a {
    color: #f9d579;
    font-family: "Philosopher", sans-serif;
    font-size: 20px;
    text-decoration: none;
    margin-left: 1.9rem;
    position: relative;
    transition: all 0.5s ease
}

.nav a:hover {
    color: #000000; width: 100%;
}

.logo {
    font-size: 50pt; line-height: 0.7; 
}

.logo a {
    color: #f9d579; text-decoration: none;
}

h1 {
    font-family: "Philosopher", sans-serif;
    color: #c3002f;
    font-size: 45pt;
    margin: 10px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px 20px;
}

h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #c3002f;
    font-size: 23px;
    border: 1px solid #c3002f;
    border-radius: 100pt;
    padding: 5px 10px;
    display: block;
    width: fit-content;
    margin: 40px auto;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

h3 {
    font-family: "Philosopher", sans-serif;
    color: #f9d579;
    font-size: 20px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
    font-style: oblique;
    display: inline-block;
    padding: 10pt;
    border-radius: 25px;
    background-color: #c3002ee3;
}

h4 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #f9d579;
    font-size: 25px;
    border: 1px solid #f9d579;
    border-radius: 100pt;
    padding: 5px 10px;
    display: block;
    width: fit-content;
    margin: 20px auto;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

p {
    color: #c3002f;
    font-size: 15pt;
    border: 1px solid #c3002f;
    border-radius: 100pt;
    padding: 1px 4px;
    display: block;
    width: fit-content;
    margin: 40px auto;
}

p2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 35px;
    color: #daa520;
}

.sweets {
    width: 960px;
    height: auto;
    border: 2px solid #daa520;
    outline: 2px solid #daa520;
    outline-offset: 10px;
    border-radius: 10pt;
    padding: 10pt;
    margin: 20px auto;
}

.EA {
    color: #daa520;
}

p1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #c3002f;
    font-size: 15pt;
    line-height: 35px;
}

p3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18pt;
    line-height: 60px;
}

.ends {
    color: #c3002f;
    font-weight: bold;
}

.emp {
    border-bottom: 2px solid;
    font-weight: bold;
    text-decoration: underline;
}

.flower {
    color: #c3002f;
    padding: 8px 4px;
    display: inline;
    width: fit-content;
    margin: auto;
}

.thaitea {
    width: 540px;
    height: 335px;
    border: 7px double #c3002f;
    border-radius: 30pt;
    padding: 5px;
}

.drinkinfo {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: #daa520;
    line-height: 25px;
}

.drinkname {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    color: #c3002f;
}

.price {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    color: #1e3a8a;
}

.pro {
    width: 806px;
    height: 455px;
    border: 5px double #daa520;
    border-radius: 30pt;
    padding: 5px;
}

.ctinf {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #f9d579;
    text-align: left;
    font-size: 15px;
    line-height: 40px;
}

.os {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 45pt;
}

.footer {
    align-items: center;
    display: flex;
    justify-content: center;
}

.ctu {
    align-items: center;
    display: flex;
    justify-content: center;

}

a {
    color: #f9d579;
}

.sad {
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 23px;
    background-color: #c3002f;
    border: 2px solid #c3002f; 
    border-radius: 100px;
    padding: 8px;
    transition: all 0.7s ease;
}

.sad:hover {
    color: #c3002f;
    background-color: #f9d579;
}

.ad1 { 
    margin: 75pt;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.picsize1 {
    padding: 45px;
    width: 250px ;
    height: 375px ;
    border-radius: 70px;
}

.picname1 {
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    color:#f5e1c8;
    background-color: #c3002f;
    border: 2px solid #c3002f;
    border-radius: 100px;
    padding: 10px;
}

.ad2 {
    padding: 50pt;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.picsize2 {
    padding: 5px;
    outline: 2px solid #c3002f;
    outline-offset: 5px;
    width: 480px ;
    height: 360px ;
    border-radius: 30px;
    border: 2px solid#c3002f;
}

.picsize3 {
    padding: 5px;
    outline-offset: 10px;
    width: 292px;
    height: 440px;
    border-radius: 30px;
    border: 1px solid#c3002f;
}

.picname2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    line-height: 1.5;

    color: #c3002f;
    padding: 40px;
}

.ad3 {
    table-layout: fixed;

    margin-left: auto;
    margin-right: auto;
}

.prom {
    width: 350pt;
    height: 200pt;
}

.priced1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    font-weight: bolder;
    color: #1e3a8a;
}

.priced2 {
    text-align: left ;
    padding: 30pt;
    font-weight: bold;
}

.priced3 {
    text-align: right;
    font-weight: bold;
}

.emptext {
    font-weight: bold;
    font-size: 23px;
}

footer {
    position: fixed;
    top: 0;
    left: 0;
}